{
	"checkCoverage": true,
	"statements": 80,
	"branches": 80,
	"functions": 80,
	"lines": 80,
	"include": [
		"src/**/*.js"
	],
	"reporter": [
		"html",
		"text-summary"
	],
	"require": [
		"babel-register"
	],
	"all": true
}
